<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.zdhospital.dao.SysLeaderMapper">
  <resultMap id="BaseResultMap" type="com.xiao.zdhospital.entity.SysLeader">
    <id column="lid" jdbcType="INTEGER" property="lid" />
    <result column="lname" jdbcType="VARCHAR" property="lname" />
    <result column="limg" jdbcType="VARCHAR" property="limg" />
    <result column="linfo" jdbcType="VARCHAR" property="linfo" />
  </resultMap>
  <sql id="Base_Column_List">
    lid, lname, limg, linfo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_leader
    where lid = #{lid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_leader
    where lid = #{lid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiao.zdhospital.entity.SysLeader">
    insert into sys_leader (lid, lname, limg, 
      linfo)
    values (#{lid,jdbcType=INTEGER}, #{lname,jdbcType=VARCHAR}, #{limg,jdbcType=VARCHAR}, 
      #{linfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiao.zdhospital.entity.SysLeader">
    insert into sys_leader
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lid != null">
        lid,
      </if>
      <if test="lname != null">
        lname,
      </if>
      <if test="limg != null">
        limg,
      </if>
      <if test="linfo != null">
        linfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lid != null">
        #{lid,jdbcType=INTEGER},
      </if>
      <if test="lname != null">
        #{lname,jdbcType=VARCHAR},
      </if>
      <if test="limg != null">
        #{limg,jdbcType=VARCHAR},
      </if>
      <if test="linfo != null">
        #{linfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiao.zdhospital.entity.SysLeader">
    update sys_leader
    <set>
      <if test="lname != null">
        lname = #{lname,jdbcType=VARCHAR},
      </if>
      <if test="limg != null">
        limg = #{limg,jdbcType=VARCHAR},
      </if>
      <if test="linfo != null">
        linfo = #{linfo,jdbcType=VARCHAR},
      </if>
    </set>
    where lid = #{lid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiao.zdhospital.entity.SysLeader">
    update sys_leader
    set lname = #{lname,jdbcType=VARCHAR},
      limg = #{limg,jdbcType=VARCHAR},
      linfo = #{linfo,jdbcType=VARCHAR}
    where lid = #{lid,jdbcType=INTEGER}
  </update>
</mapper>