<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.zdhospital.dao.SysOutMapper">
  <resultMap id="BaseResultMap" type="com.xiao.zdhospital.entity.SysOut">
    <id column="out_id" jdbcType="INTEGER" property="outId" />
    <result column="out_info" jdbcType="VARCHAR" property="outInfo" />
    <result column="iid" jdbcType="INTEGER" property="iid" />
    <result column="doctor_id" jdbcType="INTEGER" property="doctorId" />
  </resultMap>
  <sql id="Base_Column_List">
    out_id, out_info, iid, doctor_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_out
    where out_id = #{outId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_out
    where out_id = #{outId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiao.zdhospital.entity.SysOut">
    insert into sys_out (out_id, out_info, iid, 
      doctor_id)
    values (#{outId,jdbcType=INTEGER}, #{outInfo,jdbcType=VARCHAR}, #{iid,jdbcType=INTEGER}, 
      #{doctorId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xiao.zdhospital.entity.SysOut">
    insert into sys_out
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="outId != null">
        out_id,
      </if>
      <if test="outInfo != null">
        out_info,
      </if>
      <if test="iid != null">
        iid,
      </if>
      <if test="doctorId != null">
        doctor_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="outId != null">
        #{outId,jdbcType=INTEGER},
      </if>
      <if test="outInfo != null">
        #{outInfo,jdbcType=VARCHAR},
      </if>
      <if test="iid != null">
        #{iid,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiao.zdhospital.entity.SysOut">
    update sys_out
    <set>
      <if test="outInfo != null">
        out_info = #{outInfo,jdbcType=VARCHAR},
      </if>
      <if test="iid != null">
        iid = #{iid,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null">
        doctor_id = #{doctorId,jdbcType=INTEGER},
      </if>
    </set>
    where out_id = #{outId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiao.zdhospital.entity.SysOut">
    update sys_out
    set out_info = #{outInfo,jdbcType=VARCHAR},
      iid = #{iid,jdbcType=INTEGER},
      doctor_id = #{doctorId,jdbcType=INTEGER}
    where out_id = #{outId,jdbcType=INTEGER}
  </update>
</mapper>